In [1]:
import pandas as pd

In [6]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])

In [7]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [11]:
df['Cost'] = df['Cost']*0.80

In [12]:
df

         Cost Item Purchased   Name
Store 1  18.0       Dog Food  Chris
Store 1   2.0   Kitty Litter  Kevyn
Store 2   4.0      Bird Seed  Vinod

In [13]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is C6A2-7AC7

 Directory of C:\Users\prashanttik.CYBAGE\Documents

01/31/2017  02:35 PM    <DIR>          .
01/31/2017  02:35 PM    <DIR>          ..
01/31/2017  12:09 PM    <DIR>          .ipynb_checkpoints
12/08/2016  06:44 PM        49,242,410 .RData
12/08/2016  06:44 PM            10,196 .Rhistory
06/11/2015  05:52 PM    <DIR>          Bluetooth Folder
11/16/2016  07:57 PM               441 ChatLog iResult _ Cybage Calls 2016_11_16 19_57.rtf
01/31/2017  12:06 PM            32,006 Coursera-week1.ipynb
01/31/2017  02:35 PM             4,618 Coursera_Week2.ipynb
01/19/2016  03:11 PM         2,372,332 Cybage Estimates and TM Cost for SKYCITY Mobi App_20Jan16_Updated.pptx
06/19/2015  05:37 PM    <DIR>          Dell WebCam Central
04/12/2016  06:58 PM    <DIR>          Fax
12/26/2015  11:59 AM            14,214 History notes.1450767197.docx
12/05/2016  01:25 PM            22,819 MediaCom_Solution_Description_v2_Prashant.docx
10/13/2015  02:41 PM    <DIR>          MicroStrategy
06/29/2015  02:20 PM    <DIR>          My Tableau Repository
08/01/2016  03:23 PM             5,641 pentaho_Bi_test.prpt
10/03/2016  10:25 AM             5,438 pgadmin.log
02/08/2016  09:16 AM            60,887 Presentation1.pptx
01/10/2017  06:26 PM    <DIR>          Python Scripts
04/12/2016  06:58 PM    <DIR>          Scanned Documents
01/17/2017  10:10 AM    <DIR>          SQL Server Management Studio
01/31/2017  12:09 PM                72 Untitled.ipynb
01/31/2017  12:09 PM                72 Untitled1.ipynb
08/05/2015  03:45 PM    <DIR>          Visual Studio 2010
01/18/2017  11:56 AM    <DIR>          Visual Studio 2012
              13 File(s)     51,771,146 bytes
              13 Dir(s)  51,718,356,992 bytes free

In [14]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])


df_more_than_3 = df[df['Cost']>3.0]
df_more_than_3

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 2   5.0      Bird Seed  Vinod

In [15]:
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [22]:
df.iloc[0]

Cost                  22.5
Item Purchased    Dog Food
Name                 Chris
Name: Store 1, dtype: object

In [4]:
import pandas as pd

df = pd.read_csv('olympics.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 9: invalid start byte

In [3]:
!cat 'olympics.csv'

'cat' is not recognized as an internal or external command,
operable program or batch file.