---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    max_gold=df[df['Gold']==df['Gold'].max()]
    #max_gold = max_gold.reset_index()
    return max_gold.iloc[0].name
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    max_diff_gold = df[df['Gold']-df['Gold.1']==abs(df['Gold']-df['Gold.1']).max()]
    #max_diff_gold = max_diff_gold.reset_index()
    return max_diff_gold.iloc[0].name
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    more_than_one_gold = df[(df['Gold.1']>0) & (df['Gold']>0)]

    max_ratio =(abs(more_than_one_gold['Gold']-more_than_one_gold['Gold.1'])/
                          more_than_one_gold['Gold.2']).max()
    ans3 = more_than_one_gold[(abs(more_than_one_gold['Gold']-more_than_one_gold['Gold.1'])/
                          more_than_one_gold['Gold.2'])==max_ratio]
    #ans3 = ans3.reset_index()
    return ans3.iloc[0].name
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    Points = df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']*1
    return Points
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [7]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [8]:
def answer_five():
    county_sum = census_df.where(census_df['SUMLEV']==50)
    county_sum = county_sum.dropna()
    county_sum = county_sum.set_index(['STNAME','CTYNAME'])
    county_sum = county_sum.sort_index()
    max_counties= (county_sum.sum(0,None,level=['STNAME'])['COUNTY'].max())
    county_sum = (county_sum.sum(0,None,level=['STNAME'])['COUNTY']==max_counties)
    county_sum = county_sum[county_sum].reset_index()
    return county_sum['STNAME'].iloc[0]
answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    all_counties = census_df.where(census_df['SUMLEV']==50)
    all_counties = all_counties.dropna()
    all_counties['RANK'] = all_counties.groupby(['STNAME'])['CENSUS2010POP'].rank(ascending=False)
    all_counties['RANK3'] = all_counties['RANK']<=3
    all_counties = all_counties.where(all_counties['RANK3']==True)
    all_counties = all_counties.dropna()
    all_counties = all_counties.set_index(['STNAME','RANK']) 
    top3_cities = all_counties.sort_index()
    top3_states = top3_cities.sum(0,None,level=['STNAME'])
    top3_states['STATE_RANK'] = top3_states['CENSUS2010POP'].rank(ascending=False)
    top3_states = top3_states.reset_index()
    top3_states = top3_states.set_index(['STATE_RANK'])
    top3_states = top3_states.sort_index()
    return top3_states.head(3)['STNAME'].tolist()
answer_six()

['California', 'Texas', 'Illinois']

# Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven():
    all_counties = census_df.where(census_df['SUMLEV']==50)
    all_counties = all_counties.dropna()
    all_counties['CMAX'] =  all_counties[['POPESTIMATE2010','POPESTIMATE2011',
                                          'POPESTIMATE2012','POPESTIMATE2013',
                                          'POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)
    all_counties['CMIN'] =  all_counties[['POPESTIMATE2010','POPESTIMATE2011',
                                          'POPESTIMATE2012','POPESTIMATE2013',
                                          'POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
    all_counties['CDIFF'] =  all_counties['CMAX'] - all_counties['CMIN']
    max_diff = all_counties['CDIFF'].max()
    return all_counties[all_counties['CDIFF']==max_diff]['CTYNAME'].iloc[0]
answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by region_df['CTYNAME']index).*

In [11]:
def answer_eight():
    all_counties = census_df.where(census_df['SUMLEV']==50)
    all_counties = all_counties.dropna()
    region_df = all_counties.where((all_counties['REGION']==1) | (all_counties['REGION']==2))
    region_df = region_df.loc[region_df['CTYNAME'].str.startswith("Washington",na=False)]
    region_df = region_df[region_df['POPESTIMATE2015'] > region_df['POPESTIMATE2014']]
    return region_df[['STNAME', 'CTYNAME']]
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [17]:
import numpy as np
test = census_df.pivot_table(values=['POPESTIMATE2015','POPESTIMATE2014'],
index=['STNAME','CTYNAME'], 
columns=['REGION'],
aggfunc=np.mean)
print(test)

                             POPESTIMATE2015                                  \
REGION                                     1          2          3         4
STNAME    CTYNAME
Alabama   Alabama                        NaN        NaN  4858979.0       NaN
          Autauga County                 NaN        NaN    55347.0       NaN
          Baldwin County                 NaN        NaN   203709.0       NaN
          Barbour County                 NaN        NaN    26489.0       NaN
          Bibb County                    NaN        NaN    22583.0       NaN
          Blount County                  NaN        NaN    57673.0       NaN
          Bullock County                 NaN        NaN    10696.0       NaN
          Butler County                  NaN        NaN    20154.0       NaN
          Calhoun County                 NaN        NaN   115620.0       NaN
          Chambers County                NaN        NaN    34123.0       NaN
          Cherokee County                NaN        NaN    25859.0       NaN
          Chilton County                 NaN        NaN    43943.0       NaN
          Choctaw County                 NaN        NaN    13170.0       NaN
          Clarke County                  NaN        NaN    24675.0       NaN
          Clay County                    NaN        NaN    13555.0       NaN
          Cleburne County                NaN        NaN    15018.0       NaN
          Coffee County                  NaN        NaN    51211.0       NaN
          Colbert County                 NaN        NaN    54354.0       NaN
          Conecuh County                 NaN        NaN    12672.0       NaN
          Coosa County                   NaN        NaN    10724.0       NaN
          Covington County               NaN        NaN    37835.0       NaN
          Crenshaw County                NaN        NaN    13963.0       NaN
          Cullman County                 NaN        NaN    82005.0       NaN
          Dale County                    NaN        NaN    49565.0       NaN
          Dallas County                  NaN        NaN    41131.0       NaN
          DeKalb County                  NaN        NaN    71130.0       NaN
          Elmore County                  NaN        NaN    81468.0       NaN
          Escambia County                NaN        NaN    37789.0       NaN
          Etowah County                  NaN        NaN   103057.0       NaN
          Fayette County                 NaN        NaN    16759.0       NaN
...                                      ...        ...        ...       ...
Wisconsin Waukesha County                NaN   396488.0        NaN       NaN
          Waupaca County                 NaN    51945.0        NaN       NaN
          Waushara County                NaN    24033.0        NaN       NaN
          Winnebago County               NaN   169546.0        NaN       NaN
          Wisconsin                      NaN  5771337.0        NaN       NaN
          Wood County                    NaN    73435.0        NaN       NaN
Wyoming   Albany County                  NaN        NaN        NaN   37956.0
          Big Horn County                NaN        NaN        NaN   12022.0
          Campbell County                NaN        NaN        NaN   49220.0
          Carbon County                  NaN        NaN        NaN   15559.0
          Converse County                NaN        NaN        NaN   14236.0
          Crook County                   NaN        NaN        NaN    7444.0
          Fremont County                 NaN        NaN        NaN   40315.0
          Goshen County                  NaN        NaN        NaN   13383.0
          Hot Springs County             NaN        NaN        NaN    4741.0
          Johnson County                 NaN        NaN        NaN    8585.0
          Laramie County                 NaN        NaN        NaN   97121.0
          Lincoln County                 NaN        NaN        NaN   18722.0
          Natrona County                 NaN        NaN        NaN   82178.0
          Niobrara County                NaN        NaN        NaN    2542.0
          Park County                    NaN        NaN        NaN   29228.0
          Platte County                  NaN        NaN        NaN    8812.0
          Sheridan County                NaN        NaN        NaN   30009.0
          Sublette County                NaN        NaN        NaN    9899.0
          Sweetwater County              NaN        NaN        NaN   44626.0
          Teton County                   NaN        NaN        NaN   23125.0
          Uinta County                   NaN        NaN        NaN   20822.0
          Washakie County                NaN        NaN        NaN    8328.0
          Weston County                  NaN        NaN        NaN    7234.0
          Wyoming                        NaN        NaN        NaN  586107.0

                             POPESTIMATE2014
REGION                                     1          2          3         4
STNAME    CTYNAME
Alabama   Alabama                        NaN        NaN  4846411.0       NaN
          Autauga County                 NaN        NaN    55290.0       NaN
          Baldwin County                 NaN        NaN   199713.0       NaN
          Barbour County                 NaN        NaN    26815.0       NaN
          Bibb County                    NaN        NaN    22549.0       NaN
          Blount County                  NaN        NaN    57658.0       NaN
          Bullock County                 NaN        NaN    10829.0       NaN
          Butler County                  NaN        NaN    20276.0       NaN
          Calhoun County                 NaN        NaN   115993.0       NaN
          Chambers County                NaN        NaN    34052.0       NaN
          Cherokee County                NaN        NaN    25995.0       NaN
          Chilton County                 NaN        NaN    43921.0       NaN
          Choctaw County                 NaN        NaN    13289.0       NaN
          Clarke County                  NaN        NaN    24847.0       NaN
          Clay County                    NaN        NaN    13538.0       NaN
          Cleburne County                NaN        NaN    15072.0       NaN
          Coffee County                  NaN        NaN    50831.0       NaN
          Colbert County                 NaN        NaN    54480.0       NaN
          Conecuh County                 NaN        NaN    12662.0       NaN
          Coosa County                   NaN        NaN    10807.0       NaN
          Covington County               NaN        NaN    37888.0       NaN
          Crenshaw County                NaN        NaN    13948.0       NaN
          Cullman County                 NaN        NaN    81221.0       NaN
          Dale County                    NaN        NaN    49501.0       NaN
          Dallas County                  NaN        NaN    41662.0       NaN
          DeKalb County                  NaN        NaN    71012.0       NaN
          Elmore County                  NaN        NaN    81022.0       NaN
          Escambia County                NaN        NaN    37784.0       NaN
          Etowah County                  NaN        NaN   103452.0       NaN
          Fayette County                 NaN        NaN    16842.0       NaN
...                                      ...        ...        ...       ...
Wisconsin Waukesha County                NaN   395335.0        NaN       NaN
          Waupaca County                 NaN    52088.0        NaN       NaN
          Waushara County                NaN    24173.0        NaN       NaN
          Winnebago County               NaN   169639.0        NaN       NaN
          Wisconsin                      NaN  5759432.0        NaN       NaN
          Wood County                    NaN    73597.0        NaN       NaN
Wyoming   Albany County                  NaN        NaN        NaN   37918.0
          Big Horn County                NaN        NaN        NaN   11919.0
          Campbell County                NaN        NaN        NaN   48243.0
          Carbon County                  NaN        NaN        NaN   15856.0
          Converse County                NaN        NaN        NaN   14172.0
          Crook County                   NaN        NaN        NaN    7264.0
          Fremont County                 NaN        NaN        NaN   40717.0
          Goshen County                  NaN        NaN        NaN   13509.0
          Hot Springs County             NaN        NaN        NaN    4793.0
          Johnson County                 NaN        NaN        NaN    8552.0
          Laramie County                 NaN        NaN        NaN   96469.0
          Lincoln County                 NaN        NaN        NaN   18564.0
          Natrona County                 NaN        NaN        NaN   81603.0
          Niobrara County                NaN        NaN        NaN    2530.0
          Park County                    NaN        NaN        NaN   29126.0
          Platte County                  NaN        NaN        NaN    8776.0
          Sheridan County                NaN        NaN        NaN   30020.0
          Sublette County                NaN        NaN        NaN   10039.0
          Sweetwater County              NaN        NaN        NaN   44925.0
          Teton County                   NaN        NaN        NaN   22905.0
          Uinta County                   NaN        NaN        NaN   20903.0
          Washakie County                NaN        NaN        NaN    8316.0
          Weston County                  NaN        NaN        NaN    7185.0
          Wyoming                        NaN        NaN        NaN  584304.0

[3192 rows x 8 columns]